# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JAVA-Projects\Bucket Sort\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
